.profile {
	margin: 40px auto 0;
	width: calc(100% - 200px * 2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;

	&__add-button {
		margin: 0;
		width: 150px;
		height: 50px;
		border: 2px solid #fff;
		background-image: url(../../svg/Add\ Button.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: black;
		background-size: 22px;
		cursor: pointer;
		padding: 0;
		border-radius: 2px;

		&:hover {
			opacity: 0.6;
			transition: opacity 1s ease-in-out;
		}
	}

	&__avatar {
		width: 127.5px;
		height: 127.5px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__box {
		display: flex;
		gap: 30px;
		align-items: center;
	}

	&__description {
		color: #fff;
		font-family: "Inter", Arial, Helvetica, sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 336px;
	}

	&__edit-button {
		margin: 0;
		padding: 0;
		width: 24px;
		height: 24px;
		background-image: url(../../svg/Edit\ Button.svg);
		background-color: #000;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #fff;
		cursor: pointer;

		&__edit-button:hover {
			opacity: 0.6;
			transition: opacity 1s ease-in-out;
		}
	}

	&__info {
		display: grid;
		max-width: 336px;
		grid-template-columns: repeat(2, auto);
		column-gap: 18px;
		row-gap: 16px;
		align-items: baseline;
	}

	&__name {
		font-weight: 500;
		font-size: 42px;
		line-height: 48px;
		margin: 0;
		max-width: 294px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media screen and (max-width: 1279px) {
	.profile {
		margin: 42px auto 0;
		width: calc(100% - 19px * 2);
		flex-direction: column-reverse;

		&__add-button {
			margin: 36px auto 0;
			width: 282px;
			background-size: 16px;
		}

		&__box {
			flex-direction: column;
			gap: 22.2px;
		}

		&__description {
			max-width: 282px;
			font-size: 14px;
		}

		&__edit-button {
			width: 18px;
			height: 18px;
			background-size: 8px;
		}

		&__info {
			max-width: 282px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			column-gap: 10px;
			row-gap: 8px;
		}

		&__name {
			max-width: 189px;
			font-size: 27px;
			line-height: 33px;
		}
	}
}
