.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	transition: opacity 0.5s ease-out;
	overflow: hidden;
	visibility: hidden;

	&__close-button {
		margin: 0;
		padding: 0;
		width: 32px;
		height: 32px;
		background-image: url(../../svg/Close\ Button.svg);
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		background-color: transparent;
		position: absolute;
		background-size: 32px;
		top: -40px;
		right: -40px;

		&:hover {
			opacity: 0.6;
			transition: opacity 1s ease-in-out;
		}
	}

	&__container {
		border-radius: 10px;
		background-color: #fff;
		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
		color: #000;
		max-width: 430px;
		margin: 0;
		padding: 0;
		position: relative;
		display: flex;
		flex-direction: row-reverse;
	}

	&__form {
		margin: 0;
	}

	&__input {
		border: none;
		margin: 54px 36px 30px;
		padding-bottom: 13px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		width: 358px;
		box-sizing: border-box;
		font-weight: 400;
		font-size: 14px;
		line-height: normal;

		&:last-of-type {
			margin: 0 36px 48px;
		}
	}

	&__submit-button {
		width: 358px;
		height: 50px;
		border-radius: 2px;
		background-color: #000;
		color: #fff;
		margin: 0 36px 37px;
		text-align: center;
		font-family:
			"Inter" Arial,
			Helvetica,
			sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border: none;
		padding: 0;
		cursor: pointer;

		:hover {
			opacity: 0.8;
			transition: opacity 1s ease-in-out;
		}
	}

	&__submit-button_disabled {
		background-color: #fff;
		border: 1px solid #000;
		color: #000;
		opacity: 0.2;
	}

	&__title {
		color: #000;
		font-family:
			"Inter" Arial,
			Helvetica,
			sans-serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		max-width: 330px;
		margin: 34px 64px 0 36px;
	}
}

.popup_opened {
	visibility: visible;
	opacity: 1;
}

@media screen and (max-width: 1279px) {
	.popup__close-button {
		width: 20px;
		height: 20px;
		right: 0;
		background-size: 20px;

		&__container {
			max-width: 282px;
			margin: 0 auto 0;
		}

		&__input {
			margin: 75px 22px 30px;
			width: 238px;

			&:last-of-type {
				margin: 0 22px 45px;
			}
		}

		&__submit-button {
			width: 238px;
			height: 46px;
			font-size: 14px;
			margin: 0 22px 25px;
		}

		&__title {
			font-size: 18px;
			max-width: 238px;
			margin: 25px 22px 0;
		}
	}
}
